<div class = "container spacer">
  <p class="  bg-light" >Welcom to ContactAppV1</p>

  <div class="card">
    <div class="card-body">
    <p>
      <img height="200px" width="200px" src = "https://icons-for-free.com/iconfiles/png/512/contact+mobile+phone+telephone+icon-1320168260690280424.png">
    </p>
      <p>Save your Contacts with ContactApp</p>
      <p>contact application provide you simple interfaces to manage your contacts easily</p>
      <p>contact application provide you simple interfaces to manage your contacts easily</p>

  </div>
</div>
</div>
